<!DOCTYPE html>
<html>
<head>
    <title>FATE_95</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="card">

    <h1>🎮 FATE_95</h1>

    <p>
        Sois le maître de ton destin.
    </p>

    <a href="/gender/" class="btn">Commencer la quête de soi 🚀</a>

    <div class="info">
        <h2>Comment ça marche ?</h2>
        <p>🧠 Réponds aux quêtes</p>
        <p>🎯 Découvre ton profil</p>
        <p>💼 Explore des métiers</p>
    </div>

</div>

</body>
</html>